<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Flask work</title>
</head>
<body>
     <h1>Project</h1>
     <ul>
         <li><a href="/project/1"> project 1</a></li>
         <li><a href="/project/2"> project 2</a></li>
         <li><a href="/project/3"> project 3</a></li>
     </ul>

     <br>
     <h3>Add new project</h3>
     <form action="/add/project" method="post">
         <div>
             Project Name: <input type="text" name="project-title">
         </div>
         <br>
         <input type="Submit" value="Add Project">
     </form>
</body>
</html>
